body {
    background-image: url("fondo.jpg")
}

#categorias{
    background-color:darkseagreen;
}

#novedades {
    background-color:darkturquoise;
}

div.login {
    background-color: #ff8080;
}

#contacto {
    background-color: coral;
}

aside {
    position: relative;
    width: 25%;
    background-color: cadetblue;
}

div.contenido {
    position: absolute;
    top: 500px;
    right: 0;
    width: 75%;
    margin: 5px;
    text-align: center;
}

#recomendados {
    position: absolute;
    width: 50%;
    top 800px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 30px
}

#vistos {
    position: absolute;
    width: 50%;
    top 800px;
    right: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 30px;
}

#recomendados img{
    width: 150px;
    height: 230px;
    padding: 20px;
}

#vistos img{
    width: 150px;
    height: 230px;
    padding: 20px;
}